
:root{
     --cor-primaria: #ffd20c;
}
html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}
body{
    margin: 0;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    
}

p,
a {
    font-size: 1.6rem;
}

h1 {
    font-size: 4.8rem;
}

h2 {
    font-size: 4rem;
}

h3 {
    font-size: 3.2rem;
}

.btn{
    background-color: var(--cor-primaria);
    border-radius: 4px;
    font-size: 1.8rem;
    text-decoration: none;
    padding: 1.6rem 4.6rem;
    display: inline-block;
    color: black;
}

.spam--SER {
    text-transform: uppercase;
}


.nav a{
    color: inherit;
}

.wrapperContainer{
    padding-top: 1px;
}

.wrapperContainer-dark{
    background-color: #272626;
    margin: 0;
    
}

.wrapperContainer-fixed {
    position: sticky;
    top: 0;
    left: 0;
}

.wrapperContainer-padded{
    padding-top: 12rem;
}

.wrapperContainer-light{
    background-color: #fafafa;
}

.wrapperContainer-dark2{
    background-color: #003464;
    color: white;
}

.container{
    max-width: 127.6rem;
    margin: auto;
}

.section_title{
    padding: 5rem 0;
    text-align: center;
}

.section_btn{
    margin: 10rem 0;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--cor-primaria);
    padding: 2rem 0;
 
    
}

.nav__list{
    display: flex;
    gap: .6rem;
    list-style-type: none;
}

.nav__list__link    {
    padding: .75em 1.15em;
    border: solid 1px;
    text-decoration: none;
}

.nav__list__link:hover{
    background-color: black;
}

.wrapperContainer-hero{
  background-image: linear-gradient(transparent, var(--cor-primaria));

}

.main__card{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 12rem;
} 

.hero__title {
    margin-bottom: 4rem;
}

.cursos{
    text-align: center;
}

.cursosContainer{
    display: flex;
    text-align: left;
    gap: 2rem;
}

.art__card {
    flex: 1; 
}                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                   

.art__card h3{
    font-size: 2.4rem;
}

.art__card p{
    line-height: 1.5;
}

.cursos_card_content {
    padding: 1rem 1.25rem;
    border: 1px solid #ccc;
     border-radius: 0 0 8px 8px;
     border-top: transparent;
     flex-grow: 1;
}

.art__card img{
    display: block;
    width: 100%;

}

.containerEscola{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 10rem;
    padding-top: 8rem;
    box-sizing: border-box;
}

.escola--content{
    
}

.escola--content h2{
    margin-top: 0;
    margin-bottom: 8rem;
}

.escola--content p{
    line-height: 1.8;    
   
}

.section-end address{
    text-align: right;
    margin-top: 5rem;
    margin-bottom: 5rem;
    font: 400 1.8rem Verdana, Geneva, Tahoma, sans-serif;

}

.footer{
    background-color: #272626;
    color: white;
    padding: 5rem;
    font-size: 1.8rem;
    text-align: center;
}
